* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 15rem;
    padding: 1rem;
    margin: 2rem auto;
    transition: all 0.3s linear;
    border-radius: 0.7rem;
    text-align: center;
}

.contact img {
    border-radius: 50%;
    border: 0.2rem solid #cfd9df;
}

.contact h4 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    letter-spacing: 0.15rem;
    color: #2575fc;
}

.contact:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}